name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: riishcodes
          outputs: |
            dist/github-contribution-grid-snake.svg

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
